<style>
/*Top, right, bottom, left*/
	body,html {
		height:100%;
	}
	body {

		font-family: 'Berkshire Swash', cursive;
		font-size: 35px;
		background-color: #666068;
		background-image: <url="https://image.freepik.com/free-vector/abstract-background-design_1116-113.jpg">;
	}
	h1 {
		border: solid #96FFF1;
		text-align: center;
		background-color: #96FFF1; 
	}

#title {
	color: white;
	background-color: #33CCFF;
	padding: 10px 2px 10px 2px;
	margin: 5px ;
	width: 100%;
}

#instructions {
	text-align: center;
	border: solid #96FFF1;
	background-color: #96FFF1;
	color: black;
	background-color: #33CCFF;
	padding: 10px 2px 10px 2px;
	margin: 5px;
	max-width: 100%;
}

#randomNumber {
	background-color: black;
	color: white;
	width: 25%;
	padding: 5px;
	margin: 3px;
	height: 80px;
}

#scoreboard {
	clear: both;
	background-color: black;
	color: white;
	width: 25%;
	padding: 5px 1px 5px 1px;
	margin: 3px;
	height: 80px;
}

#randomNumber, #scoreboard {
	float: left;
}

#scoreTitle {
	background-color: black;
	color: white;
	width: 25%;
	padding: 2px;
	margin: 5px;
}

#crystals {
	clear: both;
}

#gameScore {
	background-color: black;
	color: white;
	width: 25%;
	height: 80px;
	padding: 10px 2px 10px 2px;
	margin: 5px;
}
	</style>
